@media only screen and (max-width: 786px) {
  body {
      padding-left: 20px;
      padding-right: 20px;
      font-family: 'Karla', sans-serif;
      margin-top: -60px;
  }
}

body {
    padding-left: 20px;
    padding-right: 20px;
/*    font-family: 'Karla', sans-serif;*/
/*    background: url('../img/mm_sa_bg_color.jpg') no-repeat center center fixed; */
    background-color: black;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
}

.eighteen {
  font-size: 18px;
}

h2.promo-header {
  font-size: 14px;
  margin-top: -20px;
  max-width: 500px;
}

h2 a, a {
  color: white;
}

h2 a:hover, a:hover {
  color: white;
}

.main-container {
  margin-top: 100px;
  margin-bottom: 30px;
}

.headshot {
  text-align: center;
  width: 100px;
  margin-bottom: 30px;
}

.album-img {
/*  width: 250px;*/
}

.btn {
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  margin-bottom: 10px;
  box-shadow: 3px 5px 4px rgb(0 0 0 / .5);
}

.btn-dark {
  background-color: white;
}

.right-align-dropdown-toggle::after {
  display: none;
}

.spotify-follow {
  margin-bottom: 15px;
}

.social-links {
  text-align: center;
  margin-bottom: 50px;
}

.social-link {
  max-width: 40px !important;
  margin-left: 10px;
}

.logo {
  width: 300px;
}

.mg-10 {
  margin-bottom: 10px;
}

.mg-30 {
  margin-bottom: 30px;
}

.mg-50 {
  margin-bottom: 50px;
}

.modal-dialog {
  max-width: 650px;
}