body {
    padding-left: 20px;
    padding-right: 20px;
    background: url('../img/mm_sa_bg_color.jpg') no-repeat center center fixed; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Karla', sans-serif;
}

.main-container {
  margin-top: 100px;
  margin-bottom: 30px;
}

.btn {
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  margin-bottom: 10px;
}

.btn-dark {
  background-color: black;
}

.headshot {
  text-align: center;
  width: 100px;
  margin-bottom: 30px;
}

.spotify-follow {
  margin-bottom: 15px;
}

.social-links {
  text-align: center;
  margin-bottom: 50px;
}

.social-link {
  max-width: 40px !important;
  margin-left: 10px;
}

.logo {
  width: 250px;
}

.mg-30 {
  margin-bottom: 30px;
}

.mg-50 {
  margin-bottom: 50px;
}
